body {
  background-color: #1b2435;
}

.navBar {
  background-color: #2b374e;
}

.stats {
  background-color: #2b374e;
  color: white;
}

.footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
